:root {
  --bg-color: #202325;
  --btn-color: #4a6b98;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  height: 100vh;
  margin: 0;
}

.slider {
  background-color: var(--bg-color);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.slider__container {
  width: 95%;
  margin: 0 auto;
}

.slider__input {
  display: none;
}

.slider__images {
  margin-top: 2%;
  overflow: hidden;
  height: 1020px;
}

.slider__img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.slider__image-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 401%;
  transition: all .3s ease-in-out;
}

.slider__title {
  position: relative;
  display: flex;
  align-items: center;
  width: 415%;
  height: 100px;
  color: #fff;
  transition: all .15s ease-in-out;
}

.slider__text {
  position: relative;
  width: 25%;
  font-size: 32px;
}

.slider__bullets {
  position: relative;
  top: -60px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: inherit;
}

.slider__button {
  width: 20px;
  height: 20px;
  margin-left: 1%;
  background-color: #4a6b98;
  border-radius: 90px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.slider__button:hover {
  background-color: #fff;
}

#slide1:checked ~ .slider__bullets .slider__button:nth-child(1),
#slide2:checked ~ .slider__bullets .slider__button:nth-child(2),
#slide3:checked ~ .slider__bullets .slider__button:nth-child(3),
#slide4:checked ~ .slider__bullets .slider__button:nth-child(4) {
  outline: 2px solid var(--btn-color);
  background-color: var(--bg-color);
}

#slide1:checked ~ .slider__images .slider__image-container {
  left: 0;
}
#slide2:checked ~ .slider__images .slider__image-container {
  left: -100.5%;
}
#slide3:checked ~ .slider__images .slider__image-container {
  left: -200.6%;
}
#slide4:checked ~ .slider__images .slider__image-container {
  left: -300.8%;
}

#slide1:checked ~ .slider__title {
  left: 0;
}
#slide2:checked ~ .slider__title {
  left: -103%;
}
#slide3:checked ~ .slider__title {
  left: -207%;
}
#slide4:checked ~ .slider__title {
  left: -311%;
}

@media (max-width: 540px) {
  .container {
    display: flex;
    align-items: center;
  }
  .slider__images {
    height: inherit;
  }
  .slider__img {
    max-height: 350px;
  }
  .slider__image-container {
    width: 500%;
  }

  #slide2:checked ~ .slider__images .slider__image-container {
    left: -139%;
  }
  #slide3:checked ~ .slider__images .slider__image-container {
    left: -265%;
  }
  #slide4:checked ~ .slider__images .slider__image-container {
    left: -390%;
  }
  
}