body {
  margin: 0;
}

.container {
  margin: 0 auto;
  height: 100vh;
  margin: 0;
}

.slider {
  background-color: #202325;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.slider__container {
  width: 95%;
  margin: 0 auto;
}
.slider__input {
  display: none;
}

/* .slider__overflow {
  width: 100%;
  overflow: hidden;
} */

.slider__images {
  margin-top: 2%;
  overflow: hidden;
  height: 1020px;
}

.slider__img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.slider__image-container {
  display: flex;
  height: 100%;
  width: 400%;
}

.slider__controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider__title {
  display: flex;
  height: 100%;
  color: #fff;
}

.slider__text {
  font-size: 100px;
  z-index: 1;
}

.slider__bullets {
  display: flex;
  justify-content: space-between;
  width: 7%;
  height: inherit;
}

.slider__button {
  width: 80px;
  height: 80px;
  background-color: #4a6b98;
  border-radius: 90px;
  cursor: pointer;
}

.slider__button:hover {

}